%h1 Welcome to Rixir
%h2 Home of the Rixir
%h2 Specimen Database - For all your specimen information needs
%p You can search and add specimens to your heart's desire. It's pretty crazy really. Try it out. Do this, do that, blah blah. King of the castle!
%p Second Paragraph. Look what i can do!